@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: miama;
    src: url(../assets/miama-font/Miama.ttf);
}
body {
    font-family: "Inter", sans-serif;
    background: rgb(0, 0, 0);
    color: white;
}
.container {
    max-width: 1060px;
    margin: 0 auto;
}

/* header-starts-here */
header {
    width: 100%;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    margin-bottom: 100px;
}
header .container {
	max-width: 1060px;
	display: flex;
	flex-direction: column;
	min-height: 715px;
	justify-content: space-between;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 46px;
    margin-top: 57px;
}
.logo a {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    text-decoration: none;
    font-style: italic;
}
.menu {
    width: 465px;
}
.menu ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
}
.menu ul li a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    border-radius: 46px;
    padding: 8px 20px 8px 20px;
}
.menu ul li a:hover,
.menu ul li .active {
    background: rgb(230, 83, 60);
    font-weight: 600;
    padding: 8px 19px 8px 19px;
}
.header-intro {
    display: flex;
    justify-content: space-between;
}
.header-intro-left {
	max-width: 520px;
	min-height: 440px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.header-intro-left h1 {
    color: rgb(255, 255, 255);
    font-size: 78px;
    font-weight: 900;
    margin-bottom: 28px;
}
.header-intro-left h1 span {
	font-family: "miama", sans-serif;
	font-weight: 400;
	font-size: 155px;
	line-height: 0;
}
.header-intro-left p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 28px;
}
.btn-group {
    display: flex;
    gap: 14px;
}
.btn-group a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    display: inline-block;
}
.btn-group a:hover {
    background: rgb(230, 83, 60);
    border: none;
    padding: 17px 41px 17px 41px;
}
.header-intro-right {
	max-width: 350px;
	min-height: 580px;
	display: inherit;
    position: relative;
}
.header-intro-right img {
    width: 100%;
}
.box-1,
.box-2 {
	position: absolute;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 12px;
	backdrop-filter: blur(20px);
	background: rgba(255, 255, 255, 0.1);
}
.box-1 {
	left: 230px;
	top: 120px;
	padding: 17px 23px 16px 24px;
}
.box-1 h2 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.box-1 p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-wrap: nowrap;
}
.box-2 {
	left: -110px;
	top: 420px;
	display: flex;
	gap: 12px;
	align-items: center;
	padding: 20px 23px;
}
.box-2 .circle {
	height: 40px;
	width: 40px;
	background: rgb(230, 83, 60);
	border-radius: 50%;
}
.box-2 .text h2 {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.box-2 .text p {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
}
/* header-ends-here */


/* your-habits-starts */
.your-habits {
    margin-bottom: 100px;
}
.your-habits .container {
    min-height: 452px;
}
.habits-text h2 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 14px;
}
.habits-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 58px;
}
.img-section {
    display: flex;
    gap: 40px;
    justify-content: center;
}
.img-box {
    width: 230px;
    min-height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img-box img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 1px rgba(255, 255, 255, 0.5) solid;
    outline: 5px #1A1A1A solid;
    margin-bottom: 30px;
}
.img-box h2 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 6px;
}
.img-box p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
}
/* your-habits-ends */

/* run-an-extra-starts */
.run-an-extra {
    margin-bottom: 100px;
}
.run-an-extra .container {
	min-height: 370px;
	border-radius: 18px;
	background: rgb(34, 34, 34);
	display: flex;
	justify-content: space-between;
    padding: 0 32px 0 54px;
	align-items: center;
}
.run-an-extra-left {
    max-width: 445px;
    min-height: 290px;
}
.run-an-extra-left h2 {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}
.run-an-extra-left p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 34px;
}
.run-an-extra-left a,
.bmi-calculator-right a {
    text-decoration: none;
    background: rgb(230, 83, 60);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border-radius: 42px;
    padding: 16px 40px 16px 40px;
    display: inline-block;
    color: rgb(255, 255, 255);
}
.run-an-extra-left a:hover,
.bmi-calculator-right a:hover {
    border: 1px solid rgb(255, 255, 255);
    padding: 15px 39px 15px 39px;
    background: transparent;
}
.run-an-extra-right {
    width: 365px;
    height: 312px;
    overflow: hidden;
    position: relative;
    border-radius: 18px;
}
.run-an-extra-right img {
	width: 100%;
	height: auto;
	transform: scale(3.1);
	transform-origin: 68% 24%;
}
/* run-an-extra-ends */

/* bmi-calculator-starts */
.bmi-calculator {
    margin-bottom: 100px;
}
.bmi-intro {
    max-width: 671px;
    min-height: 120px;
    margin: 0 auto;
    margin-bottom: 88px;
}
.bmi-intro h2{
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 14px;
}
.bmi-intro p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
}
.bmi-calculator-main {
    background: rgb(34, 34, 34);
}
.bmi-calculator-main .container {
    min-height: 490px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bmi-calculator-left{
    min-height: 386px;
}
.bmi-calculator-right {
    width: 580px;
    min-height: 386px;
}
.bmi-calculator-left h2,
.bmi-calculator-right h2 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    line-height: 120%;
}
.bmi-calculator-left h2 {
    margin-bottom: 52px;
}
.bmi-calculator-right h2{
    margin-bottom: 14px;
}
.bmi-calculator-right p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    margin-bottom: 34px;
}
.bmi-table{
    border-collapse: collapse;
    width: 310px;
    min-height: 216px;
}
.bmi-table tr th {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}
.bmi-table tr td {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
}
.bmi-table tr td, 
.bmi-table tr th {
	border: 1px solid rgba(255, 255, 255, 0.1);
	text-align: left;
	padding: 0 18px;
}



/* hide-number-controll-btn */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
/* hide-number-controll-btn */
  

.input-pair {
    width: 100%;
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}
.input-pair input,
.input-pair select {
    width: 50%;
}
.input-single select {
    width: 100%;
    margin-bottom: 34px;
}
.input-pair input,
.input-pair select,
.input-single select {
    min-height: 48px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    padding: 12px 20px 12px 20px;
    outline: none;
}
.input-pair input {
    color: rgba(255, 255, 255, 1);
}
.input-pair select,
.input-single select {
    color: rgba(255, 255, 255, 0.3);
}
.input-pair select option,
.input-single select option {
    background: #222222;
}



/* bmi-calculator-ends */


















@media screen and (max-width: 576px) {
    h1 {
        color: blue;
    }
}